* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

main, form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 5px;
}

h2 {
    text-align: center;
}

.start, .submit {
    width: 200px;
    height: 100px;
}

.start {
    margin-top: 100px;
}

.stats-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.answer {
    display: flex;
    align-items: center;
    border: 1px solid black;
    margin: 5px;
}

.radio-button {
    flex: 0 0 30px;
    text-align: center;
}