* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    text-align: center;
}

.navButton {
    width: 200px;
    height: 100px;
}

.start {
    margin-top: 200px;
}